extends ../default
block pageContent
    div.page-content
        h1= 'Inquiry Sent!'
        p= 'Thank you for contacting me, I will respond within 24 hours.'
        a.block-button(href="/")= 'Home Page'