nav.page-menu    
    a.site-menu-item(href="/about")="About"
    a.site-menu-item(href="//blog.elyst.us")="Blog"
    a.site-menu-item(href="/projects")= "Projects"
    a.site-menu-item(href="/contact")= "Contact"