doctype html
head
    include ./static/header.jade
body
    div.wrapper
        div.page-header
            div.site-logo
                a(class="site-logo", href="/")
            div.site-title
                h1= 'Elystus'
        
        include ./static/navbar.jade

        block pageContent
        
        include ./static/footer.jade

    script(src="/assets/js/jquery-2.1.3.min.js")